@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Amphora";
  src: url("../public/fonts/Amphora-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Switzer";
  src: url("../public/fonts/Switzer-Variable.ttf");
}

:root {
  --text-rgb: 237, 244, 248;
  --primary-rgb: 17, 15, 82;
  --secondary-rgb: 38, 168, 223;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-rgb: 237, 244, 248;
    --primary-rgb: 17, 15, 82;
    --secondary-rgb: 38, 168, 223;
  }
}

body {
  color: rgb(var(--text-rgb));
  background-color: rgb(var(--secondary-rgb));
  font-size: 16px;
  cursor: none !important; /* Let's hide the default cursor so it looks way better */
}
.h1 {
  @media (min-width: 375px) {
    @apply font-amphora text-5xl;
  }
  @media (min-width: 640px) {
    @apply text-h1;
  }
}
.h2 {
  @apply font-amphora text-h2;
}
.mainContent:not(.home) {
  @apply py-28 px-10 md:px-20 rounded-b-[80px] bg-primary;
}
p {
  margin-bottom: 1rem;
}

.home p {
  margin-bottom: 0;
}

/* slider */
.swipGallery {
  width: 100%;
  height: 100%;
}

.swipGallery .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  max-width: 80%;
  max-height: 600px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swipGallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swipFeatures .swiper-slide {
  width: auto;
}

/* Test du menu hover */
.menu__item img {
  transition: opacity 0.2s;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.menu__item:hover img {
  opacity: 1;
}

.mask {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  line-height: 66px;
  cursor: default;

  position: absolute;
  mask-image: url("../public/mask.svg");
  background: #26a8df;
  mask-repeat: no-repeat;
  mask-size: 40px;
  color: black;
}

.flare {
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important ;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;

  mask-image: url("../public/mask.svg");
  background: #26a8df;
  mask-repeat: no-repeat;
  mask-size: 30px;
  color: black;
}

/* We need to remove this custom cursor in mobile devices */
@media screen and (max-width: 768px) {
  .flare {
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}
.flare.pointer {
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.inner {
  /* background-color: black; */
}

.inner .page {
  /* background-color: #110F52; */
}

.inner .slide {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #26a8df;
  z-index: 1;
}


// animation star
.star {  
  transform-origin: center;
  animation: svg-animation 2s ease-out forwards;
  svg {
  }
}

@keyframes svg-animation {
  0% {
    transform: scale(40) rotate(360deg);
  }
  90% {
    transform: scale(0.5) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.stairs{
  .transition-container{
      position: fixed;
      width: 100vw;
      height: 100vh;
      display: flex;
      left: 0;
      top: 0;
      pointer-events: none;
      z-index: 2;
      div{
          position: relative;
          height: 100%;
          width: 100%;
          background-color: #26A8DF;
      }
  }
  .transition-background{
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: #26A8DF;
      z-index: 1;
      pointer-events: none;
      top: 0;
      left: 0;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.3);
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 8px;
}

// modal projects
.modal-slider {
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}